.env
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info
*.egg
*.zip
*.tar.gz
*.tar.bz2
.vscode
.idea
_dw.duckdb
*.DS_Store
*.ipynb_checkpoints
*.coverage
*.coverage.*
venv3.11
venv*
celery_results.sqlite
celerydb.sqlite
admin
uploads/